.news-card {
    position: relative;
    max-width: 400px;
    height: 576px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 0 100px rgba(8, 29, 45, 0.1);
}

.news-card__image {
    height: 272px;
    max-width: 400px;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
}
.news-card__main {
    margin-top: 20px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
}

.news-card__date {
    all: unset;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #b6bcbf;
}

.news-card__title {
    all: unset;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #1a1b22;
    margin: 12px 0 16px 0;
}

.news-card__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #1a1b22;
    margin-bottom: 18px;
    display: inline;
    /** Word ellipsis with multiple lines */
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.news-card__source {
    all: unset;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #b6bcbf;
}

.news-card__archive {
    all: unset;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 24px;
    top: 24px;
    background: #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.news-card__archive-image {
    cursor: pointer;
}

.news-card__archive-image_saved {
    background: #2f71e5;
    background-size: contain;
}
