.about {
    display: flex;
    column-gap: 50px;
    padding: 5%;
}

.about__main {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    max-width: 600px;
}

.about__title {
    all: unset;
    font-family: "Roboto Slab";
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0px;
    text-align: left;
}

.about__info {
    all: unset;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
