.header {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    height: 80px;
    color: #ffffff;
    border-bottom: 1px #ffffff solid;
}

.header__title {
    all: unset;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}

.header__nav {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 100%;
}

.header__button {
    all: unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__button-nav {
    margin-right: 50px;
    height: 100%;
    color: #b6bcbf;
    transition: 0.1s;
    text-align: center;
}

.header__button-nav:hover {
    opacity: 0.6;
}

.header__signin-button {
    border: 1px solid #ffffff;
    border-radius: 100px;
    width: 180px;
    height: 50px;
    text-align: center;
    transition: 0.1s;
}

.header__signin-button:hover {
    background: #ffffff21;
}
.header__button_active {
    border-bottom: 3px #ffffff solid;
    color: #ffffff;
}
.header__burger {
    display: none;
}

@media screen and (max-width: 720px) {
    .header {
        height: 56px;
        padding: 0 16px;
    }
    .header__nav {
        display: none;
    }
    .header__title {
        font-size: 16px;
    }
    .header__burger {
        all: unset;
        display: block;
        cursor: pointer;
        background: url(../../images/burger.svg);
        height: 24px;
        width: 24px;
    }
}
