.header {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.header__title {
    all: unset;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
